PORT = 2000
HOST = localhost

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNDNhZTA2YzEtNzA0Ni00MTJmLWFiZTUtMmY5MTYzMjczYWQyIiwidGVuYW50X2lkIjoiMDFlMDk4Mjg2NDgwMTk4MTY4M2QzYzIxMWVjZWZiZjQ0NThjMjllNDEzZjE1YjBmMGRiNzJhNTZlYWI5N2M1YSIsImludGVybmFsX3NlY3JldCI6IjAwMGVlMjBiLWNhNTUtNDBiZS05YWVhLWNiMWRlZDM2MWM3MSJ9.yCgg_g22XFSK2CLxt50vrcXRxHFLLCubE9Lyan2VTHs"
PULSE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNDNhZTA2YzEtNzA0Ni00MTJmLWFiZTUtMmY5MTYzMjczYWQyIiwidGVuYW50X2lkIjoiMDFlMDk4Mjg2NDgwMTk4MTY4M2QzYzIxMWVjZWZiZjQ0NThjMjllNDEzZjE1YjBmMGRiNzJhNTZlYWI5N2M1YSIsImludGVybmFsX3NlY3JldCI6IjAwMGVlMjBiLWNhNTUtNDBiZS05YWVhLWNiMWRlZDM2MWM3MSJ9.yCgg_g22XFSK2CLxt50vrcXRxHFLLCubE9Lyan2VTHs"
